*{
  padding: 0;
  margin: 0;
  font-family: 'Arial , san-serif';
}


.nav-bar{
  height:60px;
  background-color: rgb(101, 246, 64);
  display: flex;
  align-items: center;
  box-shadow: 10px 10px 5px lightblue;
}

.heading{
  width:30%;
  margin: auto;
  color:white;
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
  font-style: cursive;
  font-weight: bold;
  font-size: xx-large;
  text-shadow: 2px 2px 8px #161515;
}

.input{
 /* margin-right: 30px; */
 } 
 input{
  width: 440px;
  height: 50px;
  border:none ;
  border-radius: 5px 0px 0px 5px;
  padding: 10px;
 }
 button{
  height: 50px;
  margin-right: 20px;
  width:80px;
  border: none;
  background-color:rgb(101, 246, 64);
  box-shadow:10px 10px 5px black ;
  border-radius: 0px 5px 5px 0px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
/* .nav-bar{
   height:200vph;
  background-color: rgb(27, 30, 27);
  display: flex;
  align-items: center;
  margin-left: 250; 
  height: 400;
  background-color: black;
  
}
.heading{
  font-family: cursive;
  color:rgb(251, 24, 24);
  font-weight: bold;
  /font-weight: 300; 
  margin: 5;
  height: 90;
  background-color: white;
}
*/